.social-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  @include list;
}

.social-list__item {
  &:not(:last-child) {
    margin-right: 12px;
  }
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border: 3px solid $color-blue01;
  border-radius: 50%;
  background-color: $color-grey3;
  &:hover,
  &:focus {
    border-color: $color-blue;
  }
  &:active {
    opacity: 0.3;
  }
}

.social-list__svg {
  fill: $color-red;
}