$font: OpenSans, Arial, sans-serif;
$align: center;

$color-blue: #283645;
$color-blue01: rgba(40, 54, 69, 0.1);
$color-blue03: rgba(40, 54, 69, 0.3);
$color-red: #d22856;
$color-grey1: #e5e5e5;
$color-grey2: #f2f2f2;
$color-grey3: #fdfdfd;
$color-green1: #2aab6d;
$color-green2: #1c9b5e;

$border-input: 2px solid $color-grey1;
$radius: 3px;

$width-mobile: 320px;
$width-tablet: 660px;
$width-desktop: 960px;
$width-before-desktop: 959px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;